<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>阅读文章管理</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.css" rel="stylesheet"/>
    <link href="../css/basic.css" rel="stylesheet"/>
    <link href="../css/custom.css" rel="stylesheet"/>
    <link href="../css/my.css" rel="stylesheet"/>
    <link href="../css/element/index.css" rel="stylesheet"/>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">后台管理系统</a>
        </div>
        <div class="header-right">
            <a href="javascript:void (0)" class="btn bg-info" @click="" title="退出登录"><!--logout-->
                <i class="fa fa-sign-out fa-2x"></i>
            </a>
        </div>
        <div class="header-right">
            <a href="accountAdInfo.html" class="btn bg-info"  title="跳转到个人中心">
                <i class="fa fa-user fa-2x"></i>
            </a>
        </div>
        <div class="header-right" style="padding-top: 25px">
            <!--            <div>{{ ad }}</div>-->
            欢迎你，{{ad.nickName}}
        </div>
    </nav>
    <nav class="navbar-default navbar-side" >
        <div class="sidebar-collapse">
            <ul class="nav" id="main_menu">
                <li>
                    <a href="index.html"><i class="fa fa-dashboard"></i> 首页 </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-yelp"></i> 信息管理 <span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="UserInfo.html"><i class="fa fa-table"></i> 用户管理 </a></li>
                        <li><a href="level.html"><i class="fa fa-table"></i> 英语水平管理 </a></li>
                        <li><a href="#"><i class="fa fa-yelp"></i> 单词管理 <span class="fa arrow"></span> </a>
                            <ul class="nav nav-third-level collapse in " style="margin-left: 30px;">
                                <li><a href="wordBook.html"><i class="fa fa-table"></i> 单词书管理 </a></li>
                                <li><a href="WordInfo.html"><i class="fa fa-table"></i> 单词表管理 </a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-yelp"></i> 阅读管理 <span class="fa arrow"></span> </a>
                            <ul class="nav nav-second-level collapse in"style="margin-left: 30px;">
                                <li><a class="active-menu" href="read.html"><i class="fa fa-table"></i> 阅读文章管理 </a></li>
                                <li><a href="readSub.html"><i class="fa fa-table"></i> 阅读上传 </a></li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fa fa-yelp"></i> 听力管理 <span class="fa arrow"></span> </a>
                            <ul class="nav nav-second-level collapse in"style="margin-left: 30px;">
                                <li><a href="listen.html"><i class="fa fa-table"></i> 听力材料管理 </a></li>
                                <li><a href="listenSub.html"><i class="fa fa-table"></i> 听力上传 </a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-yelp"></i> 系统管理 <span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level collapse in">
                        <li><a href="accountAdInfo.html"><i class="fa fa-user"></i> 个人中心 </a></li>
                        <li><a href="updateadPassword.html"><i class="fa fa-unlock-alt"></i> 修改密码 </a></li>
                    </ul>
                </li>

                <li><a href="login.html"><i class="fa fa-power-off"></i> 退出登录 </a></li>
            </ul>
        </div>
    </nav>

    <!--右侧-->
    <div id = "page-wrapper">
        <div id = "page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="page-heading" style="text-align: center; font-size: 24px; font-weight: bold;">
                            阅读文章管理
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="nx-table-header">
<!--                                    <input type="text" placeholder="请输入搜索内容" v-model="pageNum" @keyup.enter="loadTable">-->
<!--                                    <i class="glyphicon glyphicon-search"></i>-->
                                </div>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead><!--列头的行-->
                                    <tr><!--行-->
                                        <th>文章ID</th><!--列-->
                                        <th>文章标题</th>
<!--                                        <th>文章内容</th>-->
                                        <th>级别</th>
                                        <th>详情</th>

                                    </tr>
                                    </thead>
                                    <tbody v-for ="obj in objs">
                                    <tr>
                                        <td>{{obj.passageId}}</td>
                                        <td>{{obj.passageTitle}}</td>
<!--                                        <td>{{obj.passageText}}</td>-->
                                        <td>{{obj.grade}}</td>
                                        <td><a href="javascript:void(0);" @click="showDetail(obj.passageId)">详情</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ul class="pagination">
                                    <li class="page-item" v-bind:class="{disabled: pageInfo.isFirstPage}">
                                        <a class="page-link" href="javascript:void(0)" v-on:click="loadTable(pageInfo.pageNum - 1)">上一页</a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link" href="javascript:void (0)">{{pageInfo.pageNum}}</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" v-if="pageInfo.hasNextPage" href="javascript:void (0)"
                                           v-on:click="loadTable(pageInfo.pageNum + 1)">{{pageInfo.pageNum + 1}}</a>
                                    </li>
                                    <li class="page-item" v-bind:class="{disabled: pageInfo.isLastPage}">
                                        <a class="page-link" href="javascript:void(0)" v-on:click="loadTable(pageInfo.pageNum + 1)">下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框 -->
    <div class="modal fade" id="readDetailsModal" tabindex="-1" role="dialog" aria-labelledby="readDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="readDetailsModalLabel">文章详情</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>文章ID:</strong> {{ selectedRead.passage.passageId }}</p>
                    <p><strong>文章标题:</strong> {{ selectedRead.passage.passageTitle }}</p>
                    <p><strong>级别:</strong> {{ selectedRead.levelInfo.grade }}</p>
                    <strong>内容:</strong>
                    <p>{{ selectedRead.passage.passageText }}</p>
                    <strong>题目:</strong>
                    <div class="questions">
                        <div v-for="(item, index) in selectedRead.questions" :key="index">
                            <!-- 题目内容 -->
                            <div class="question-item">
                                <p><strong>{{ item.readingQuestionId }}. {{ item.passageText }}</strong></p>
                            </div>
                            <!-- 选项按钮 -->
                            <div class="choices">
                                <div v-for="(choice, index2) in selectedRead.choices" :key="index2">
                                    <!-- 判断选项是否属于当前题目的范围 -->
                                    <div v-if="choice.readingQuestionId === item.readingQuestionId">
                                        <p>{{ choice.choiceText }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <strong>答案:</strong>
                    <div v-for="item in selectedRead.questions" :key="item.readingQuestionId">
                        {{item.readingQuestionId}}.{{item.correctAnswer}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/jquery-1.10.2.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/jquery.metisMenu.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/my.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../js/element/index.js"></script>


<script>
    function msg(type,msg){ //错误信息
        Vue.prototype.$message({
            type: type,     //success（成功）、warning（警告）、error（错误）
            message: msg,
            duration: 2000,
            offset: 100,
            center: true
        })
    }
    new Vue({
        el: "#wrapper",
        data: {
            ad:{},
            user:{},
            objs:[],
            pageInfo:{
                pageNum:1,      //初始化pageNum
                isFirstPage: true,
                isLastPage: false
            },
            pageNum: 1,
            selectedRead:{
                passage :{},
                questions :{},
                choices: {},
                levelInfo: {}
            }

        },
        created: function (){
            // 打印从本地缓存中获取到的用户信息，用于调试
            // console.log('获取到的用户信息：', localStorage.getItem('ad'));
            // console.log(localStorage.getItem('ad'));

            this.ad = JSON.parse(localStorage.getItem('ad'));
            this.user = JSON.parse(localStorage.getItem('user'));
            this.loadTable(1);  // 初始化加载页面数据
            // 解析从本地缓存中获取到的用户信息，用于调试
            // console.log('解析后的用户信息：', this.ad);
        },
        methods: {
            loadTable(pageNum){
                axios.get("/ReadingInfo/page/"+pageNum).then(res => {
                    //测试
                    console.log(res.data); // 打印返回的数据结构
                    console.log(res.data.data); // 打印返回的数据结构
                    console.log(res.data.data.list);
                    if(res.data.code === '0'){
                        this.objs = res.data.data.list;
                        this.pageInfo = res.data.data;
                        //测试
                        console.log(this.objs);
                        console.log(this.pageInfo);
                        console.log(this.pageInfo.pageNum);
                    } else {
                        msg('error',res.data.msg);
                    }
                }).catch(error => {
                    msg('error','数据加载失败');
                    console.error('Error loading data:',error);
                })
            },
            //弹窗
            showDetail(passageId) {
                // 发起异步请求获取详细信息
                axios.get("/ReadingInfo/details/"+passageId).then(res => {
                    if(res.data.code === '0'){
                        console.log("res.data____",res.data);
                        this.selectedRead = res.data.data;
                        console.log("this.selectedRead",this.selectedRead);
                        $('#readDetailsModal').modal('show');  // 显示模态框
                    } else {
                        msg('error', res.data.msg);
                    }
                }).catch(error => {
                    msg('error', '无法获取阅读详细信息');
                    console.error('Error loading word details:', error);
                });
            }
        }



    });
</script>

</body>
</html>